.profiles-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin-right: 10%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article__main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60rem;
  height: 60rem;
  background-color: #fff;
  // margin-top: 2rem;
  margin-left: 5rem;
  &__name {
    width: 10vw;
    height: auto;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: .5rem;
    color:#213555;
    font-weight: 600;
  }
  &__image {
    width: 10vw;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: .5rem;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 7rem;
    width: 10rem;
    color:#213555;
    font-weight: 600;
    &__location {
      height: .7rem;
      margin-right: .5rem;
    }
    &__age {
      height: .7rem;
    }
    &__occupation {
      height: 1rem;
      
    }
  }
  &__chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#213555;
    font-weight: 600;
    &__image {
      height: 35rem;
      width: 35rem;
    }
    &__title {
      height: 2rem;
      
    }
    &__detail {
      height: 2rem;
    }
  }
}
.article__side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  // margin: 1rem;
  width: 100%;

  &__button {
    width: 80%;
    padding: 12px 24px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: none;
    // margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: black;
    // border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &--active {
      border-bottom: none;
    }
  }
 
  .image__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .alert-icon {
    width: 30px;
  }

  .alert__button {
    padding: 0.3rem;
  }
}

.low {
  color: green;
  font-weight: 700;
  margin-bottom: 1rem;
}

.user__details {
  margin-top: 1rem;
  text-decoration: none;
  color: #213555;
  font-size: larger;
}